body {
    background-image: url(https://image.freepik.com/free-photo/tasty-pepperoni-pizza-black-concrete-background_79782-103.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}
.mainheading {
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
    text-shadow: 0 0 15px black;
    color: ivory;
    font-size: 50px;
    text-shadow: black;
    text-align: right;
    
    

}

.slogan {
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
    text-shadow: 0 0 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: black;
    text-align: right;

}