
#mainpadding { /*main padding landing page settings*/
    padding-top: 14%;
    margin-bottom: 9%;
}


#background {  /*Main background settings*/
    background-image: url('3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.mainheading { /*main heading welcome to delani studio settings*/
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
    text-shadow: 0 0 15px black;
    color: ivory;
    font-size: 50px;
    text-align: left;
    

}

.slogan { /*main heading slogan settings*/
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
    text-shadow: 0 0 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;

}

#about { 
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .column {/* Float columns side by side */
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  
  .row {margin: 0 -5px;}/* Remove extra left and right margins, due to padding */
  m
  
  
  .row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) { /* Responsive columns */
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      align-items: center;
    }
  }
  
 
  .card {  /* Style the counter cards */
    box-shadow: 10px 30px 30px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #dabbbb;
  }

.form[type=text], select { /*style the form size*/
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(241, 91, 91);
  border-radius: 4px;
  box-sizing: border-box;
}

.form { /*style the form b.colour & radius*/
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}  

